body.admin {
  .header-logo { max-width: 250px; }
  header {
    border-bottom: 1px dotted #ddd;
    margin-bottom: 30px;
  }
  main { margin-bottom: 30px; }
  .dataTables_paginate .pagination { margin: 0; }
  .dth-left {
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }
  .dth-right {
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: right;
    }
  }
  .dataTables_processing {
    background-color: #f4f4f4;
  }
  .datatable:not(.no-pointer) tbody tr { cursor: pointer; }
  .navbar-inverse { background-color: $brand-primary; }
  .navbar-inverse .navbar-nav > li > a { color: #ccc; }
  .navbar-inverse .navbar-nav > li > a:hover { color: #fff; }
  .flatpickr-input[readonly] { background-color: #fff; }
  .select2-container--default .select2-selection--single { border-color: #ccc; }
  .select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 34px; }
  .select2-container .select2-selection--single { height: 34px; }
  .sortable>* {
  	cursor: move;
  	padding: 10px;
  	border: 1px solid #ddd;
    box-shadow: 1px 1px 4px rgba(0,0,0,.3);
  	margin: 5px 0;
  }
  .sortable-chosen {
  	background-color: #DEEAFB;
  }
  .sortable {
  	min-height: 100px;
  }
  .max-height {
    max-height: 400px;
    overflow-y: auto;
  }
  #sortAvailable .btn { display: none; }
  #sortCols .btn {
    display: block;
    margin-top: -7px;
    margin-right: -7px;
  }
  .filter-group-inner {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }
  .filter-condition-inner {
    background-color: #eee;
    padding: 7px;
    margin-bottom: 10px;
    .filter-condition-delete {
      margin-top: -4px;
    }
  }
  .fc-logic-oper, .logic-operator {
    margin-bottom: 10px;
  }
  #filters { padding-top: 30px; }
  .filter-condition-inner.row {
    margin-left: 0;
    margin-right: 0;
    position: relative;
    .btn-danger {
      border-radius: 50%;
      width: 20px;
      height: 20px;
      padding: 0;
      position: absolute;
      top: 0px;
      right: -5px;
      .fa {
        position: absolute;
        top: 1.9px;
        left: 3.9px;
      }
    }
  }
  .filter-group-inner {
    position: relative;
    .btn-danger {
      border-radius: 50%;
      width: 21px;
      height: 19px;
      padding: 0 4px;
      position: absolute;
      top: -7px;
      right: -10px;
    }
  }
  .action-link { padding: 10px; }
}
